<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <!-- <meta name="description" content="{{ site.description }}"> -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta name="google-site-verification" content="FLWeXTRDBUYGSJXcdiUyqbwExBElCj76l3EdhtLL-wI" />
          {% include mathjax_support %}

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:image" content="{{ page.image }}" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@PyrochloreLee" />
    <meta property="twitter:title" content="{{ page.title }}" />
    <meta property="twitter:image" content="{{ page.image }}" />
    <meta property="twitter:description" content="{{ page.description }}" />

    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl}}/Images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/Images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/Images/favicons/favicon-16x16.png">
    <link rel="manifest" href="{{site.baseurl}}/Images/favicons/manifest.json">
    <link rel="mask-icon" href="{{site.baseurl}}/Images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#000000">

</head>
