<header class="site-header">

  <div>

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="float: right">
    <input type="hidden" name="cmd" value="_donations">
    <input type="hidden" name="business" value="chrissie.c.l@gmail.com">
    <input type="hidden" name="lc" value="US">
    <input type="hidden" name="item_name" value="M4">
    <input type="hidden" name="no_note" value="0">
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_SM.gif:NonHostedGuest">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>



  </div>

</header>
