/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin:0;
    padding:0;
}


/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-image: url("/M4/Images/thedistance.png");
    background-repeat:no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: contain;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

/**
 * Wrapper
 */
.wrapper {
    max-width: $width;
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;
    background-color: $wrapper-color;
    padding-top: 1em;
    padding-bottom:1em;

    /*@include media-query($on-laptop) {
        max-width: -webkit-calc(800px - (#{$spacing-unit}));
        max-width:         calc(800px - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }*/
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

.image-wrapper {
    text-align: center;

    .image-caption {
        color: $grey-color;
        margin-top: $spacing-unit / 3;
    }
}

table{
  border: 1em solid black;
  padding: 3em;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

.progtip{
  background-color: $progtip-color;
  color: #ccffcc;
  border-radius: 1em;
  padding: 1em;
  /*float: right;
  max-width: -webkit-calc(( 800px - (#{$spacing-unit})*2)/3);
  max-width:         calc(( 800px - (#{$spacing-unit})*2)/3);*/
}


/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
    align:center;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
  color: #462403;/**#1a3300;**/
    text-decoration: none;

    &:hover {
        color: $text-color;
        text-decoration: none;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: .2em solid $grey-color-light;
    border-radius: 3px;
    background-color:  #002b36;
    color:  #93a1a1;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 1em 1em;
    padding-bottom:2em;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}







a.sidebar:link{
  color: #7d959d;
  font-family: $base-font-family;
  font-weight: bold;
  text-decoration:none;
}
a.sidebar:visited{
  color: #7d959d;
  font-family: $base-font-family;
  font-weight: bold;
    text-decoration:none;
}
a.sidebar:hover{
  color: #336600;
  font-family: $base-font-family;
  font-weight: bold;
    text-decoration:none;
}
a.sidebar:active{
  color: #336600;
  font-family: $base-font-family;
  font-weight: bold;
    text-decoration:none;
}


.downloadzp, .clonelink, .juliadocs, .juliahelp, .about {
  background-color: #002b36;
  border-radius: 25px;
  padding: .5em;
  margin-right:1em;
  width: 3.5em;
  right: 0em;
  height: 1.5em;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #336600;

  position:fixed;
}

.clonelink{
  top:4.5em;
}

.downloadzp{
  top: 1em;
}

.juliadocs {
  top: 8em;
}

.juliahelp {
  top: 11.5em;
}

.about {
  top: 15em;
}


.comment {
    background-color: #ccffff;
    max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
    max-width:         calc(800px - (#{$spacing-unit} * 2));
    align: center;
    margin-right: auto;
    margin-left: auto;
    padding-right: 5em;
    padding-left: 5em;
    @extend %clearfix;


    @include media-query($on-laptop) {
        max-width: -webkit-calc(800px - (#{$spacing-unit}));
        max-width:         calc(800px - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
      }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}




/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
@media (max-width: 800px){
  .downloadzp, .clonelink, .juliadocs, .juliahelp, .about{
    position: absolute;
    top: .5em;
  }
  .downloadzp{
    left: 1em;
  }
  .clonelink{
    left: 6em;
  }
  .juliadocs{
    left: 11em;
  }
  .juliahelp{
    left: 16em;
  }
  .about{
    left: 21em;
  }

  .site-header{
    margin-top:4em;
  }
}
