/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin:0;
    padding:0;
}

.eqim{
  /**height: 3em;**/
  transform: scale(0.5, 0.5);
  margin: auto;
  display: block;
}

.eqim2{
  height: 2em;
  margin: auto;
  display: block;
}

.eqim3{
  height: 1.5em;
  margin: auto;
  display: block;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;

    background-size: contain;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;


    background: -webkit-linear-gradient($background-color, #231900); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($background-color, #231900); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($background-color, #231900); /* For Firefox 3.6 to 15 */
    background: linear-gradient($background-color, #231900); /* Standard syntax (must be last)*/
    background-attachment: fixed;
}

/**
 * Wrapper
 */
.wrapper {
    width: 75%;
    max-width: 960px;
    min-width: 300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;
    background-color: #cdf4e5;
    padding-top: 1em;
    padding-bottom:1em;

    border-radius: 0px;

    margin-top: -1em;
}




/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

.image-wrapper {
    text-align: center;

    .image-caption {
        color: $grey-color;
        margin-top: $spacing-unit / 3;
    }
}

table, th, td{
  border: .2em solid black;
  padding: .2em;
}
table {
    border-collapse: collapse;
}
th, td{
  width: 5em;
  text-align: center;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

.progtip{
  background-color: $progtip-color;
  color: black;
  border-radius: 1em;
  padding: 1em;
  /*float: right;
  max-width: -webkit-calc(( 800px - (#{$spacing-unit})*2)/3);
  max-width:         calc(( 800px - (#{$spacing-unit})*2)/3);*/
}


/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
    align:center;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
  color: #462403;/**#1a3300;**/
    text-decoration: none;

    &:hover {
        color: $text-color;
        text-decoration: none;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: .2em solid $grey-color-light;
    border-radius: 3px;
    background-color:  #fff9eb;
    color:  #586e75;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 1em 1em;
    padding-bottom:2em;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}







a.sidebar:link{
  color: #ffdc86;
  font-family: $base-font-family;
  font-weight: bold;
  text-decoration:none;
}
a.sidebar:visited{
  color: #7d959d;
  font-family: $base-font-family;
  font-weight: bold;
    text-decoration:none;
}
a.sidebar:hover{
  color: #336600;
  font-family: $base-font-family;
  font-weight: bold;
    text-decoration:none;
}
a.sidebar:active{
  color: #336600;
  font-family: $base-font-family;
  font-weight: bold;
    text-decoration:none;
}


.downloadzp, .clonelink, .pdfslink, .juliadocs, .juliahelp, .about {
  background-color: #0b6442;
  border-radius: 0px;
  padding: .5em;
  margin-right:1em;
  width: 3.5em;
  right: 0em;
  height: 1.5em;
  text-align: center;
  border-style: solid;
  border-width: 0px;
  border-color: #946e10;

  position:fixed;
}

.downloadzp{
  top: 1em;
}

.clonelink{
  top:4.5em;
}

.pdfslink{
    top:8em;
}

.juliadocs {
  top: 11.5em;
}

.juliahelp {
  top: 15em;
}

.about {
  top: 18.5em;
}


.comment {
    background-color: #ccffff;
    width: 75%;
    max-width: 960px;
    min-width: 300px;
    align: center;
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}




/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.site-header {
  width: 75%;
  max-width: 960px;
  min-width: 300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;
  background-color: #cdf4e5;
  padding-top: .5em;
  padding-bottom:.5em;

  border-radius: 0px;

  margin-top: 1em;
  margin-bottom: 0em;
}

@media (max-width: 800px){
  .downloadzp, .clonelink, .pdfslink, .juliadocs, .juliahelp, .about{
    position: absolute;
    top: .5em;
  }
  .downloadzp{
    left: 1em;
  }
  .clonelink{
    left: 6em;
  }
  .pdfslink{
     left: 11em;
  }
  .juliadocs{
    left: 16em;
  }
  .juliahelp{
    left: 21em;
  }
  .about{
    left: 26em;
  }

  .site-header{
    margin-top: 4em;
  }
}
