---
layout: default
---
<div class="post">
  <h2>{{page.title}}</h2>
<p>
So before you start a post, how might you figure out if it will be understandable for background?
That's where my categories come in.
</p>
<ul>
  <li><b>General:</b> Those with some background in programming, math, and physics should be able to follow.</li>
  <li><b>Prerequisites:</b> I will spell out classes in the beginning that one should have taken
    in order to understand the physics of the post.  For example, in order to understand calculating
     the orbitals of a hydrogen-like atom, I will assume you analytically solved it in a Quantum Mechanics course.
   Even if you haven't taken  the classes, feel free to still try.  </li>
  <li><b>Research:</b> A general research technique.  ß
  <li><b>In Field:</b> A specialized technique.  Unless you are doing research on the topic, or need to use this tool,
     you will probably not learn this technique, though researchers might here about it. Consider where you want to spend your time.</li>
  <li><b>Numerics:</b>Without a specific physics goal.  Sometimes I may just want to talk about something programming or
    numerical method related.</li>
  <li><b>Fun:</b> Something off topic and silly for everyone!</li>
</ul>
  					<table class="tagtable">
              <tr>
                <th class="thtitle">Title</th>
                <th class="thprop">Level</th>
                <th class="thprop">Tags</th>
              </tr>
  					  <tbody>
  						{% for cat in site.categories %}
              <tr><td class="cattype"  colspan="3">{{cat || first}}</td></tr>
              {% for posts in cat %}
              {% for post in posts %}
  						<tr class="trtag">
  						  <td class="tagtitle"><h3><a href="{{base.url}}/M4/{{ post.url }}">{{ post.title }}</a></h3></td>
  							<td class="tagprop"><p class="post-meta">{{ post.category }}</p></td>
                <td class="tagprop"><o class="post-meta">{{ post.tags }}</p></td>
  						</tr>
              {% endfor %}
              {% endfor %}
  						{% endfor %}
  					  </tbody>
            </table>
</div>
