--- 
layout: default
---

<div class="post">



        
    <table class="tagtable" style="table-layout: fixed">
        <tr>
          <th class="thprop" style="width: 1em">#</th>
          <th class="thtitle" style="width: auto">Title</th>
          <th class="thprop" style="width: 4em">Level</th>
          <th class="thprop" style="width: 5em">Tags</th>
        </tr>


                  <tbody>
                    
       <tr><td class="cattype"  colspan="4" id="MonteCarlo">Monte Carlo Physics</td></tr>

                    <tr class="trtag">
                        <td class="tagprop">1</td>
                        <td class="tagtitle"><h3><a href="{{base.url}}/M4/Monte-Carlo.html">Monte Carlo Calculation of Pi</a></h3></td>
                          <td class="tagprop"><p class="post-meta">Numerics</p></td>
            <td class="tagprop"><p class="post-meta">Monte Carlo</p></td>
                      </tr>

                      <tr class="trtag">
                          <td class="tagprop">2</td>
                          <td class="tagtitle"><h3><a href="{{base.url}}/M4/MCMC.html">Monte Carlo Markov Chain</a></h3></td>
                            <td class="tagprop"><p class="post-meta">Numerics</p></td>
              <td class="tagprop"><p class="post-meta">Monte Carlo</p></td>
                        </tr>


                      <tr class="trtag">
                          <td class="tagprop">3</td>
                          <td class="tagtitle"><h3><a href="{{base.url}}/M4/Monte-Carlo-Ferromagnet.html">Monte Carlo Ferromagnet</a></h3></td>
                            <td class="tagprop"><p class="post-meta">Prerequisites</p></td>
              <td class="tagprop"><p class="post-meta">MonteCarlo Magnet</p></td>
                        </tr>

                      <tr class="trtag">
                            <td class="tagprop">4</td>
                            <td class="tagtitle"><h3><a href="{{base.url}}/M4/Phase-Transitions.html">Phase Transitions</a></h3></td>
                              <td class="tagprop"><p class="post-meta">Prerequisites</p></td>
                <td class="tagprop"><p class="post-meta">MonteCarlo Magnet</p></td>
                          </tr>


          <tr><td class="cattype"  colspan="4" id="1D_Spin_Chain">1D Spin Chain</td></tr>

                      <tr class="trtag">
                    <td class="tagprop">1</td>
                    <td class="tagtitle"><h3><a href="{{base.url}}/M4/Jacobi-Transformation.html">Jacobi Transformation</a></h3></td>
                      <td class="tagprop"><p class="post-meta">Numerics</p></td>
        <td class="tagprop"><p class="post-meta">ED</p></td>
                  </tr>

                  <tr class="trtag">
                      <td class="tagprop">2</td>
                      <td class="tagtitle"><h3><a href="{{base.url}}/M4/Spin-Chain-Prerequisites.html">1D Spin Chain Prerequisites</a></h3></td>
                        <td class="tagprop"><p class="post-meta">Graduate</p></td>
          <td class="tagprop"><p class="post-meta">Magnet Quantum ED</p></td>
                    </tr>

                    <tr class="trtag">
                        <td class="tagprop">3</td>
                        <td class="tagtitle"><h3><a href="{{base.url}}/M4/Spin-Chain-pt2.html">1D Spin Chain Values and Vectors</a></h3></td>
                          <td class="tagprop"><p class="post-meta">Graduate</p></td>
            <td class="tagprop"><p class="post-meta">Magnet Quantum ED</p></td>
                      </tr>
          
                  
          <tr><td class="cattype"  colspan="4" id="Topological_Physics">Topological Physics</td></tr>


                    <tr class="trtag">
                        <td class="tagprop">1</td>
                        <td class="tagtitle"><h3><a href="{{base.url}}/M4/QAHE.html">The Chern Number</a></h3></td>
                          <td class="tagprop"><p class="post-meta">Graduate</p></td>
            <td class="tagprop"><p class="post-meta">Quantum Topological</p></td>
                      </tr>


                  <tr class="trtag">
                          <td class="tagprop">2</td>
                          <td class="tagtitle"><h3><a href="{{base.url}}/M4/WindingNumber.html">The Winding Number and SSH Model</a></h3></td>
                            <td class="tagprop"><p class="post-meta">Graduate</p></td>
              <td class="tagprop"><p class="post-meta">Quantum Topological</p></td>
                        </tr>


        <tr><td class="cattype"  colspan="4" id="Crystals">Crystals</td></tr>



                  <tr class="trtag">
                      <td class="tagprop">1</td>
                      <td class="tagtitle"><h3><a href="{{base.url}}/M4/Crystal-Shapes.html">Computationally Visualizing Crystals</a></h3></td>
                        <td class="tagprop"><p class="post-meta">General Audience</p></td>
          <td class="tagprop"><p class="post-meta">Lattices</p></td>
                    </tr>


                    <tr class="trtag">
                        <td class="tagprop">2</td>
                        <td class="tagtitle"><h3><a href="{{base.url}}/M4/MultiSite-Unit-Cells.html">Computationally Visualizing Crystals Pt. 2</a></h3></td>
                          <td class="tagprop"><p class="post-meta">General Audience</p></td>
            <td class="tagprop"><p class="post-meta">Lattices</p></td>
                      </tr>


        <tr><td class="cattype"  colspan="4" id="Quantum_Time_Evolution">Quantum Time Evolution</td></tr>


                    <tr class="trtag">
                        <td class="tagprop">1</td>
                        <td class="tagtitle"><h3><a href="{{base.url}}/M4/QHO.html">Quantum Harmonic Oscillator</a></h3></td>
                          <td class="tagprop"><p class="post-meta">Prerequisites Required</p></td>
            <td class="tagprop"><p class="post-meta">Quantum</p></td>
                      </tr>


                      <tr class="trtag">
                          <td class="tagprop">2</td>
                          <td class="tagtitle"><h3><a href="{{base.url}}/M4/Time-Evolution.html">Time Evolution Spit Operator Method</a></h3></td>
                            <td class="tagprop"><p class="post-meta">Prerequisites Required</p></td>
              <td class="tagprop"><p class="post-meta">Quantum</p></td>
                        </tr>


                      <tr class="trtag">
                            <td class="tagprop">3</td>
                            <td class="tagtitle"><h3><a href="{{base.url}}/M4//Ground-States.html">Ground States: Imaginary Time Evolution</a></h3></td>
                              <td class="tagprop"><p class="post-meta">Prerequisites Required</p></td>
                <td class="tagprop"><p class="post-meta">Quantum</p></td>
                          </tr>


        <tr><td class="cattype"  colspan="4">Independent</td></tr>


                      <tr class="trtag">
                          <td class="tagprop"></td>
                          <td class="tagtitle"><h3><a href="{{base.url}}/M4//Projectile-Motion.html">Intro to Jupyter and Projectile Motion</a></h3></td>
                            <td class="tagprop"><p class="post-meta">General Audience</p></td>
              <td class="tagprop"><p class="post-meta">Intro</p></td>
                        </tr>


                        <tr class="trtag">
                            <td class="tagprop"></td>
                            <td class="tagtitle"><h3><a href="{{base.url}}/M4//Atomic-Orbitals.html">Atomic Orbitals</a></h3></td>
                              <td class="tagprop"><p class="post-meta">Prerequisites Required</p></td>
                <td class="tagprop"><p class="post-meta">Quantum</p></td>
                          </tr>

                      <tr class="trtag">
                          <td class="tagprop"></td>
                          <td class="tagtitle"><h3><a href="{{base.url}}/M4//Restricted-3-body.html">Restricted 3-Body Problem</a></h3></td>
                            <td class="tagprop"><p class="post-meta">Prerequisites Required</p></td>
                  <td class="tagprop"><p class="post-meta">Classical Planetary</p></td>
                       </tr>

                       <tr class="trtag">
                          <td class="tagprop"></td>
                          <td class="tagtitle"><h3><a href="{{base.url}}/M4//Runge-Kutta-Methods.html">Ordinary Differential Equations</a></h3></td>
                            <td class="tagprop"><p class="post-meta">Numerics</p></td>
                  <td class="tagprop"><p class="post-meta">ODE</p></td>
                       </tr>


                       <tr class="trtag">
                          <td class="tagprop"></td>
                          <td class="tagtitle"><h3><a href="{{base.url}}/M4//Roots_1D.html">Root Finding in One Dimension</a></h3></td>
                            <td class="tagprop"><p class="post-meta">Numerics</p></td>
                  <td class="tagprop"><p class="post-meta">Roots</p></td>
                       </tr>

                       <tr class="trtag">
                          <td class="tagprop"></td>
                          <td class="tagtitle"><h3><a href="{{base.url}}/M4///HDF5.html">HDF5</a></h3></td>
                            <td class="tagprop"><p class="post-meta">Programming</p></td>
                  <td class="tagprop"><p class="post-meta"></p></td>
                       </tr>




                  </tbody>
      </table>




</div>